<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="phpsreps.Properties.Settings.phpsrepsConnectionString"
            connectionString="Data Source=phpsreps.database.windows.net;Initial Catalog=phpsreps;User ID=SwinDP2tu05g1;Password=SwinDP2team"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>